@using Domain
@using Web.ViewModel
@model SalleViewModel



<form asp-action="CreateSalle" method="post" enctype="multipart/form-data" class="formCreateSalleEtage formCreateSalle">
    <h1>Créer une salle</h1>
    <div class="form-group">
        <input name="Nom" type="text" class="form-input" placeholder="Nom de la salle" autocomplete="off" required />
    </div>
    <div class="form-group">
        <input name="Numero" type="text" class="form-input" placeholder="Numéro de la salle" autocomplete="off" required />
    </div>
    <div class="form-group">
        <select name="EtageId" class="form-input" id="addEtageToSalle">
            @foreach (var etage in ViewBag.EtageId)
            {
                <option value="@etage.Id" data-imgpath="@Url.Content("~/" + etage.ImgPlanEtagePath)">@etage.Nom</option>
            }
        </select>
    </div>

    <!-- Canvas pour le plan de l'étage -->
    <div class="canvas-container">
        <p class="canvas-instructions">Sélectionnez un étage ci-dessus, puis cliquez sur le plan pour positionner la salle</p>
        <canvas id="imageCanvas"></canvas>
    </div>
   

    <div class="form-group">
        <select name="TypeSalle" id="typeSalle" class="form-input" onchange="showSpecificFields()">
            <option value="1">Réunion</option>
            <option value="2">Pause</option>
            <option value="3">Bubble</option>
        </select>
    </div>


    <!-- Champs spécifiques pour Salle Réunion -->
    <div id="reunionFields" style="display: none;" class="box_form-group">
        <div class="form-group">
            <label>Écran</label>
            <input value="true" type="checkbox" name="Ecran" />
        </div>
        <div class="form-group">
            <label>Caméra</label>
            <input value="true" type="checkbox" name="Camera" />
        </div>
        <div class="form-group">
            <label>Tableau blanc</label>
            <input value="true" type="checkbox" name="TableauBlanc" />
        </div>
        <div class="form-group">
            <label>Système audio</label>
            <input value="true" type="checkbox" name="SystemeAudio" />
        </div>
    </div>

    <!-- Champs spécifiques pour Salle Pause -->
    <div id="pauseFields" style="display: none;" class="box_form-group">
        <div class="form-group">
            <label for="distributeur">Distributeur</label>
            <input value="true" type="checkbox" name="Distributeur" id="distributeur" />
        </div>
        <div class="form-group">
            <label for="frigo">Frigo</label>
            <input value="true" type="checkbox" name="Frigo" id="frigo" />
        </div>
        <div class="form-group form-goup_input">
            <input type="number" id="microondes" name="MicroOndes" class="form-control" placeholder="Nombre de micro-ondes" />
        </div>
        <div class="form-group form-goup_input">
            <input type="number" name="Evier" class="form-input" id="evier" placeholder="Nombre d'évier'" />
        </div>

        <div class="form-group form-goup_input">
            <input type="number" name="NbTables" class="form-input" placeholder="Nombre de tables" />
        </div>
        <div class="form-group form-goup_input">
            <input type="number" name="NbChaises" class="form-input" placeholder="Nombre de chaises" />
        </div>
    </div>

    <!-- Champs spécifiques pour Salle Bubble -->
    <div id="bubbleFields" style="display: none;" class="box_form-group">
        <div class="form-group">
            <label>Prise électrique</label>
            <input value="true" type="checkbox" name="PriseElectrique" />
        </div>
    </div>

    <div class="form-group">
        <input name="ImgSallePath" type="file" class="form-input form-addImg" />
    </div>
    <button type="submit" class="link_create btn-primary">Créer Salle</button>
</form>

