@model Domain.Salle

<form asp-action="CreateSalle" >
    <input name="Nom" type="text" placeholder="Nom de la salle" required />
    <input name="Numero" type="text" placeholder="Numéro de la salle" required />

    <select name="EtageId">
        @foreach (var etage in ViewBag.EtageId)
        {
            <option value="@etage.Id">@etage.Nom</option>
        }
    </select>
    <input name=ImgSallePath type="file"/>
    <button type="submit">Créer Salle</button>
</form>


