@model Domain.Etage

<form asp-action="Create">
	<input asp-for="Niveau" type="number" placeholder="Numéro de l'étage'"/>
	<input asp-for="Nom" type="text" placeholder="Niveau de l'étage'"/>
	<button type="submit">Submit</button>
</form>