
<div class="container_link_create">
    <a asp-controller="Etages" asp-action="CreateEtage" class="link_create">Créer un étage</a>
    <a asp-controller="Etages" asp-action="CreateSalle" class="link_create">Créer une salle</a>

</div>
