<a asp-controller="Etages" asp-action="CreateEtage">Créer un étage</a>
<a asp-controller="Etages" asp-action="CreateSalle">Créer une salle</a>
<a asp-controller="Utilisateurs" asp-action="Signin">S'inscrire</a>