@model IEnumerable<Domain.Etage>

<a asp-controller="Etages" asp-action="Create">Create</a>
<a asp-controller="Etages" asp-action="SearchEtage">Chercher un étage</a>

@foreach(var item in Model)
{
	<ul>
	<li>@item.Niveau</li>
	<li>@item.Nom</li>
	</ul>
}

