
@model Domain.Salle

<form asp-action="Signaler">
    <input name="salle" placeholder="Numéro/Nom de la salle"/>
    <textarea name="message" placeholder="Description du problème"></textarea>
    <button type="submit">Signaler</button>
</form>