
.container_link_create{
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-content:center;
    gap:1rem;
}

.link_create {
    width: 12rem;
    height:3rem;
    border: none;
    background-color: rgb(96,167,138);
    color: white;
    font-weight: bold;
    border-radius: 2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);

}

    .link_create:hover {
        background-color: rgb(124,170,150);
        color: white;
    }

/* create etage */
.formCreateSalleEtage {
    background-color: #f9f9f9;
    min-height: 40vh;
    max-height: auto;
    display: flex;
    justify-self: center;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    gap: 1em;
    transition: all .3s;
    overflow-y: auto;
}

.formCreateSalle{
    width:60vw
}

.formCreateEtage{
    width:40vw
}

    .formCreateSalle::-webkit-scrollbar {
        width: 8px;
    }

    .formCreateSalle::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 4px;
    }

    .formCreateSalle::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 4px;
    }

        .formCreateSalle::-webkit-scrollbar-thumb:hover {
            background: #555;
        }



.form-group {
    width: 30vw;
}

.form-goup_input {
    margin-bottom: .5rem;
}

.form-input {
    width: 100%;
    transition: all .2s;
}


.box_form-group {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.box_form-group div {
    width: 100%;
    height: 2rem;
    gap: 1rem;
    display: flex;
}


input[type="text"],
input[type="number"],
input[type="file"],
select {
    border: none;
    border-bottom: 1px solid rgb(96,167,138);
    outline: none;
    background-color: #f0f0f0;
    border-radius: 0;
    padding: 0.5rem;
    font-size: 1rem;
    transition: box-shadow 0.2s;
}

    input:focus, textarea:focus, select:focus {
        outline: none;
        box-shadow: none;
    }

.canvas-container {
    position: relative;
    margin: 20px 0;
    border: 1px solid #ccc;
    overflow: hidden;
    width: 750px;
    height: 500px;
    flex-shrink: 0; /* Empêche le canvas de rétrécir */
}

#imageCanvas {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

