.linkStyle{
    text-decoration:none;
    color: rgb(96,167,138);
    font-size:1.5rem;
    cursor:pointer;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/*formulaire search salle*/

.addItem{
    position:absolute;
    top:.5rem;
    left:1rem;
    width:1rem;
}

.search-room-container {
    position: fixed;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    height: 80vh;
    display: flex;
    flex-direction: column;
    margin: 40px auto;
    padding: 20px;
    font-family: 'Segoe UI', sans-serif;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.bodyBackDesable {
    z-index:1000;
    background-color: rgba(0,0,0,0.4);
    pointer-events: none;
}

.form-section {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding: 0 18rem;
}

.form{
    display:flex;
    justify-content:center;
    align-items:center;
}


.input-field {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px 0 0 6px;
    width: 20rem;
    height:2.5rem;
    outline: none;
    transition:all .3s;
}

.input-field:focus{
    width:21rem;
}

.btn {
    height: 2.5rem;
    width:4rem;
    border: none;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: rgb(96,167,138);
    color: white;
    font-weight: bold;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn:hover {
    background-color: rgb(124,170,150);
    color:white;
}

.formSelectFiltre{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    gap:1rem;
    margin-bottom:50px;
}

.form-select {
    font-size: 16px;
    background-color: #f8f8f8;
    outline:none;
    border:none;
    border-radius:0;
    border-bottom:1px solid rgb(96,167,138);
}

    .form-select:focus {
        outline: none;
        border-color: #007BFF;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }


/*fin formulaire search salle*/
/*style affichage card salleClick*/
.container_ListSalle {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3,20rem);
    grid-auto-rows: 7rem;
    justify-content: center;
    overflow-y: scroll;
    gap: 1rem;
    padding: 2rem 0;
}


.box_visuSalle {
    position: relative;
    width: 20rem;
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0rem 0rem 2rem rgba(0,0,0,0.2);
    background-color: #f9f9f9;
    border-radius: 1rem;
    overflow: hidden;
}

.box_visuSalleInfo {
    position:absolute;
    top:1rem;
    left:1rem;
    width:30%;
    height:100%;
    font-size: 1rem;
    line-height: 3px;
    display:flex;
    flex-direction:column;
    align-items:start;
}

.box_visuSalleInfo p{
    text-transform:capitalize;
    color:black;
}

.box_visuSalleImg {
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    -webkit-clip-path: polygon(0 40%, 70% 0,100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 40%, 70% 0,100% 0, 100% 100%, 0 100%);
}

.iconStar{
    fill:rgb(96,167,138);
}

.iconStarFiltre{
    position:absolute;
    top:9rem;
    left:50%;
    transform:translate(-50%,-50%);
}


@media only screen and (max-width: 1200px) {
    .search-room-container {
        top: 52%;
        width: 47.5rem;

    }
    .form-section {
        padding: 0 10rem;
    }
    .input-field {
        padding: 5px;
        width: 15rem;
        height: 1.8rem;

    }

    .input-field:focus {
        width: 16rem;
    }

    .formSelectFiltre {
        height:1.8rem;
        margin-bottom: 50px;
    }
    .btn {
        height: 1.8rem;
        width: 5rem;

    }

    .iconStarFiltre {
        top: 8rem;
    }

    .container_ListSalle {
        grid-template-columns: repeat(2,20rem);
    }

}

@media only screen and (max-width: 850px) {
    .search-room-container {
        top: 52%;
        width: 30rem;
    }

    .form-section {
        padding: 0rem;
    }

    .input-field {
        width: 12rem;
    }

        .input-field:focus {
            width: 13rem;
        }

    .form-select {
        font-size: 12px;
        height:1.8rem;

    }



    .iconStarFiltre {
        top: 8.5rem;
    }

    .container_ListSalle {
        grid-template-columns: repeat(1,20rem);
    }
}

@media only screen and (max-width: 450px) {
    .search-room-container {
        top: 52%;
        width: 20rem;
        padding: 1rem 0;
    }

    .form-section {
        padding: 0rem;
    }

    .input-field {
        width: 8rem;
        font-size: 10px;
    }

        .input-field:focus {
            width: 9rem;
        }

    .form-select {
        font-size: 12px;
        height: 1.8rem;
    }



    .iconStarFiltre {
        top: 8.5rem;
    }

    .container_ListSalle {
        grid-template-columns: repeat(1,20rem);
    }

    .box_visuSalle {
        position: relative;
        width: 20rem;
        height: 7rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0rem 0rem 2rem rgba(0,0,0,0.2);
        background-color: #f9f9f9;
        border-radius: 0;
        overflow: hidden;
    }

}


    /*fin style affichage card salleClick*/


    /*style affichage toutes les infos salle et etage*/

    .container_plan_info {
        position: fixed;
        top: 47%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80vw;
        height: 86vh;
        background-color: white;
        border-radius: 1rem;
        display: grid;
        grid-template-rows: 1fr 4fr;
        align-items: center;
        justify-content: center;
        pointer-events: all;
        overflow: hidden;
        z-index: 10000;
    }

    .closeModal {
        position: absolute;
        right: 1rem;
        top: 0rem;
        border: none;
        outline: none;
        font-size: 2rem;
        color: rgb(96,167,138);
        background-color: transparent;
        z-index: 30000;
    }


    .hidden {
        display: none;
    }



    .section_infoSalle {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: max-content;
        background-color: white;
        display: grid;
        grid-template-columns: 1fr 4fr;
    }

    .box_imgSalle {
        position: absolute;
        top: 0;
        left: 0;
        width: 30%;
        height: 10vh;
    }

    .imgSalle {
        -webkit-clip-path: polygon(0 0%, 60% 0,100% 50%, 100% 100%, 0 100%);
        clip-path: polygon(0 0%, 60% 0,100% 50%, 100% 100%, 0 100%);
        object-fit: cover;
    }

    .box_iconFavori {
        position: absolute;
        top: .2rem;
        left: 29%;
        cursor: pointer;
        z-index: 50000;
    }

    .list-info {
        position: absolute;
        top: .35rem;
        left: 31%;
        width: 70%;
        max-height: 10vh;
        gap: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: start;
    }

    .box_infoPrin_salle_modal {
        display: flex;
        gap: 1rem
    }

        .box_infoPrin_salle_modal div {
            display: flex;
            gap: 1rem
        }

    .p_infoSalle {
        margin-bottom: 0;
    }

    .section_imgPlan {
        position: absolute;
        top: 10vh;
        left: 0;
        width: 100%;
        height: 70vh;
        background-color: white;
        overflow: hidden;
    }

    .img-plan {
        transform:scale(1.2) translateY(2rem);
        width: 100%;
        height: 100%;
        object-fit: contain;
    }



    @media only screen and (max-width: 1400px) {



        .img-plan {
            transform: scale(1.1) translate(-1rem);
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

@media only screen and (max-width: 1250px) {
    .list-info {
        position: absolute;
        top: .35rem;
        left: 31%;
        width: 70%;
        font-size:14px;
        max-height: 10vh;
        gap: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: start;
    }

}

@media only screen and (max-width: 1110px) {


    .list-info {
        position: absolute;
        top: .35rem;
        left: 31%;
        width: 70%;
        font-size: 12px;
        max-height: 10vh;
        gap: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: start;
    }
}



    @media only screen and (max-width: 950px) {



        .img-plan {
            transform: rotate(-90deg) scale(1) translate(-1rem);
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        .box_iconFavori {
            position: absolute;
            top: 1rem;
            left: 1%;
            cursor: pointer;
            z-index: 50000;
        }

        .list-info {
            position: absolute;
            top: 50%;
            left: 5%;
            width: 100%;
            max-height: 10vh;
            gap: .5rem;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: start;
        }


        .section_infoSalle {
            position: absolute;
            top: 0;
            left: 0;
            font-size: 11px;
            width: 100%;
            height: max-content;
            background-color: white;
            display: grid;
            grid-template-columns: 1fr;
        }

        .box_imgSalle {
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 10vh;
            display: none;
        }
    }

    @media only screen and (max-width: 850px) {
        .container_plan_info {
            top: 47%;
            width: 30rem;
        }

        .section_infoSalle {

            grid-template-columns: 1fr;
        }

        .box_imgSalle {
            display: none;
        }




        .box_infoPrin_salle_modal {
            gap: .5rem
        }

            .box_infoPrin_salle_modal div {
                gap: .8rem
            }



 
    }


@media only screen and (max-width: 600px) {
    .closeModal {
        position: absolute;
        right: 1rem;
        top: 0rem;
        border: none;
        outline: none;
        font-size: 2rem;
        color: rgb(96,167,138);
        background-color: transparent;
        z-index: 30000;
    }

}
    /*fin style affichage toutes les infos salle et etage*/
