@model Domain.Utilisateur

<form asp-action="FormSignin">
	<input name="Nom" placeholder="Votre nom"/>
	<input name="Prenom" placeholder="Votre prénom" />
	<input name="Email" placeholder="Votre email" />
	<input name="Role" placeholder="Votre rôle" />
	<button type="submit">send</button>
</form>